body {
	font-family: Arial, Helvetica, sans-serif;
}

#drawarea {
	border: 1px solid #000;
	background-color: #FCF0AD;
}

#attributes-container a.button {
	display: inline-block;
	width: 180px;
	padding: 0.25em;
	border-radius: 0.5em;
	color: #232526;
	text-decoration: none;
	background-color: #E3E4E7;
	border: 1px solid #232526;
}

#attributes-container input {
	font-size: 1em;
	width: 180px;
	padding: 0.25em;
	border-radius: 0.5em;
	color: #232526;
	background-color: #fff;
	border: 1px solid #232526;
}